{# VLAN Configuration #}

{# l2 vlans               #}
{# CLI Syntax             #}
{# vlan <vlanID>          #}
{# name <vlanname>        #}


{# l3 vlans                            #}
{# interface vlan <vlanID>             #}
{# desc <desc>           #}
{# ip address <host_ip>                #}
{# ip virtual-router address <vip>     #}
